name: Test Incoming Changes

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  basic-check:
    name: Build, Lint, Vet
    runs-on: ubuntu-24.04

    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: ${{ github.sha }}

      - name: Set up Go
        uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5.4.0
        with:
          go-version-file: go.mod

      - name: Disable default go problem matcher
        run: echo "::remove-matcher owner=go::"

      - name: make build-oct
        run: make build-oct

      - name: Golangci-lint
        uses: golangci/golangci-lint-action@v7
        with:
          args: --timeout 10m0s

      - name: make vet
        run: make vet

      - name: Run endpoint verification script
        run: |
          ./scripts/curl-endpoints.sh
